@use "./tailwind.css";
@use "primeicons/primeicons.css";

html {
  font-size: 14px;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv02","cv03","cv04","cv11";
  line-height: normal;
  height: 100%;
}

body {
  height: 100%;
  background: var(--p-surface-100);
}

.workplace-header {
  @apply flex;
  @apply flex-col;
  @apply gap-3;
  h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .workplace-header-line {
    @apply flex;
    @apply gap-2;
    @apply items-center;
  }
  margin-bottom: 1.5rem;
}

.workplace-unusedspace-column {
  flex-grow: 1 !important;
}

.workplace-content-column {
  margin-top: 0.1rem;
  padding: 1rem;
  min-width: 1200px;
  max-width: 1900px;
  border-width: 1px !important;
  border-style: solid;
  border-radius: 0.7rem !important;
  border-color: var(--p-surface-300) !important;
  background: var(--p-content-background);
}


